/* Enter your custom styles here */
 .myBackgroundStyle{  
  background: url("/webapp/resource/full_background.jpg");
  max-width: 100%;
 }
 
 .headerStyle {
 	background-color: #F7D358;
 }
 
 .footerStyle {
 	background-color: #8A2908;
 }